@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Form
@using WTECHIN.Tutorial.Localization
@inject IHtmlLocalizer<TutorialResource> L
@model WTECHIN.Tutorial.Web.Pages.Authors.CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Authors/CreateModal" autocomplete="off">
    <abp-modal id="AuthorCreateModal">
        <abp-modal-header title="@L["NewAuthor"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Author.Name" />
            <abp-date-picker asp-for="Author.BirthDate" />
            <abp-input asp-for="Author.ShortBio" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
        </abp-modal-footer>
    </abp-modal>
</form>
